---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <Features2
    title="Vous cherchez à nous contacter ? Voici quelques options :"
    items={[
      {
        title: 'Par email',
        description: 'association.tanelorn@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Par Discord',
        description: 'Nous rejoindre en suivant <a class="font-semibold hover:underline" href="https://discord.gg/8cNxTkak7k">ce lien</a>.',
        icon: 'tabler:brand-discord',
      },
      {
        title: 'Par Facebook',
        description: 'Notre page est accessible via <a class="font-semibold hover:underline" href="https://www.facebook.com/Tanelorn57/">ce lien</a>.',
        icon: 'tabler:brand-facebook',
      },
    ]}
  />
</Layout>
