---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Assemblée des Grands Stratèges 2024',
  ignoreTitleTemplate: true,
};
const grandsStrategesLink = 'https://docs.google.com/forms/d/1ci_051Tx4xGtWiolUE6dV7zL5uxaLtgxeia8rXFLzC8/prefill';
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'S\'inscrire',
        href: grandsStrategesLink,
        target: '_blank',
        icon: 'tabler:user-plus',
      },
      { text: 'Plus d\'info', href: '#features' },
    ]}
    image={{ src: '~/assets/images/v3-no-bg.png', alt: 'Assemblée des grands stratèges' }}
  >
    <Fragment slot="title">
      Assemblée des Grands Stratèges 2024
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Troisième édition de la convention de wargames et jeux de plateau du Grand Est, du <span class="font-semibold">mercredi 08 au vendredi 12 mai 2024</span>, au LED de Thionville. 
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="La Convention en Résumé"
    items={[
      {
        title: 'Cinq jours épiques',
        description:
          'Les festivités commencent le mercredi 8 Mai à 9h et se terminent le dimanche 12 Mai à 17h30, avec une fermeture les soirs autour d\'1h du matin.',
        icon: 'tabler:calendar-week',
      },
      {
        title: 'Dans un lieu d\'exception',
        description:
          'La convention aura lieu dans le bâtiment du <a class="font-semibold hover:underline" href="https://www.thionville.fr/led">LED de Thionville</a>, dans la salle de concert flambant neuve, avec un bar-cuisine directement intégré à celle-ci !',
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Formule Tout Inclus',
        description:
          'Nous proposons une formule comprenant petit déjeuner, repas du midi et du soir pour 30€ / jour, incluant les boissons, le bar et les gâteaux et autres grignotages (ou 15€ si un seul repas).',
        icon: 'tabler:cash',
      },
      {
        title: 'Expérience culinaire renouvelée',
        description:
          'On reprend ce qui a le mieux marché (barbecue, plancha, cookeo, salades...) et on y rajoute 1 ou 2 Food trucks, le tout accompagné de la <a class="font-semibold hover:underline" href="http://brasseriederulles.be">bière artisanale Rulles</a> en pression (Triple et Pils).',
        icon: 'tabler:grill',
      },
      {
        title: 'Des jeux à votre image',
        description:
          'Petits, grands, courts, longs, en solo ou à plusieurs, ici on ne fait pas de discrimination, vous êtes libres de jouer à ce que vous voulez (et on a les tables si vous souhaitez sortir du monster game !)',
        icon: 'tabler:meeple',
      },
      {
        title: 'Une contrée hospitalière',
        description:
          'A proximité du LED, vous trouverez plusieurs hotels à prix raisonnables comme le <a class="font-semibold hover:underline" href="https://thionville.premiereclasse.com/fr-fr/">Première Classe</a>, le <a class="font-semibold hover:underline" href="https://tulip-inn-thionville-residence.goldentulip.com/fr-fr/">Tulip Inn</a>, ou encore <a class="font-semibold hover:underline" href="https://hdpthionville.com/">l\'Hôtel du Parc</a> ou le <a class="font-semibold hover:underline" href="https://www.bestwestern.fr/fr/hotel-Thionville-Best-Western-Plus-Thionville-Centre-93938?sob=A42">Best Western Plus</a> un peu plus loin.',
        icon: 'tabler:bed',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Maintenant, vous vous demandez sûrement comment nous rejoindre ?"
    items={[
      {
        title: 'Étape 1 : <span class="font-medium">S\'inscrire</span>',
        description:
          'Vous pouvez réserver votre place dès maintenant en remplissant le formulaire accessible en <a class="font-semibold hover:underline" href="' + grandsStrategesLink + '">cliquant ici</a> (ou via l\'un des boutons "S\'inscrire" de cette page).',
        icon: 'tabler:user-plus',
      },
      {
        title: 'Étape 2 : <span class="font-medium">Confirmer sa réservation</em>',
        description:
          "Afin de pouvoir commander les repas, nous vous demanderons une confirmation de votre présence quelques temps avant la convention (par email).",
        icon: 'tabler:list-check',
      },
      {
        title: 'Étape 3 : <span class="font-medium">Planifier des parties</span>',
        description:
          'Nous vous communiquerons d\'ici peu un planificateur afin de pouvoir vous inscrire ou proposer des parties.',
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Venir le Jour J !',
        icon: 'tabler:plane-departure',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions fréquentes"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Où a lieu la convention ?',
        description:
          'Au LED, un ancien bâtiment massif de la sidérurgie allemande remis au goût du jour pour la culture. L\'adresse est le 1 Chemin du Leidt, 57100 Thionville - il s\'agit du grand bâtiment blanc, gris et orange, entouré d\'un parking gratuit (voici le <a class="font-semibold hover:underline" href="https://www.google.com/maps/place/LED+Thionville/@49.3419631,6.1546247,16z/data=!4m5!3m4!1s0x0:0xa11fa9ed35d7603c!8m2!3d49.3419759!4d6.1542186">lien Google Maps</a>).',
      },
      {
        title: 'Comment venir (en voiture) ?',
        description:
          "La route conduisant au LED longe la voie ferrée et est directement accessible depuis la sortie 39 Beauregard de l'A31 (en entrant dans la rue, la boulangerie Ange sera sur votre gauche). Vous pouvez vous garer gratuitement au LED.",
      },
      {
        title: 'Comment se loger ?',
        description:
          'Il n\'est pas possible de dormir au LED, donc il faudra vous loger en dehors. Il y a quelques hôtels à prix raisonnables à proximité, comme le <a class="font-semibold hover:underline" href="https://thionville.premiereclasse.com/fr-fr/">Première Classe</a>, le <a class="font-semibold hover:underline" href="https://tulip-inn-thionville-residence.goldentulip.com/fr-fr/">Tulip Inn</a>, ou encore <a class="font-semibold hover:underline" href="https://hdpthionville.com/">l\'Hôtel du Parc</a> ou le <a class="font-semibold hover:underline" href="https://www.bestwestern.fr/fr/hotel-Thionville-Best-Western-Plus-Thionville-Centre-93938?sob=A42">Best Western Plus</a> un peu plus loin.',
      },
      {
        title: "Comment venir (en train) ?",
        description:
          "Si vous venez en train, le plus simple serait de nous contacter afin que nous organisions pour vous récupérer et vous déposer en voiture (le LED est à quelques minutes). Sinon, le trajet peut aussi se faire à pied en longeant la Moselle, ce qui n'a rien de désagréable (comptez 25 minutes).",
      },
      {
        title: 'Comment sont organisées les journées ?',
        description:
          "Les lieux ouvrent à 08h le matin et ferment autour de 01h le soir, à l'exception du dimanche qui se termine à 17h30. Nous avons de la place donc pas de problème pour installer des gros jeux ou laisser des tables en place d'un jour à l'autre.",
      },
      {
        title: 'Comment sont gérés les repas ?',
        description:
          "Le détail des menus pour les repas du midi et soir seront communiqués en amont (et peuvent être adaptés, nous restons flexibles). Si vous avez des allergies, n'hésitez pas à nous le signaler par avant ou sur place.",
      },
      {
        title: 'Combien est-ce que ça coûte ?',
        description:
          "Le prix est de 15€ par repas (30€ par jour), et vous donne aussi accès au petit-déjeuner et aux boissons et accompagnements qui seront à disposition pour l'ensemble de l'évènement, incluant apéritif, biscuit, bonbons, bière, vin, café, thé, sodas, etc.",
      },
      {
        title: 'Comment règle-t-on ?',
        description:
          "Nous acceptons les paiments en amont par Paypal ou virement bancaire, et sur place en liquide ou par carte bancaire.",
      },
      {
        title: 'Que faut-il ramener ?',
        description:
          "Tout est fourni sur place, à l'exception des jeux (mais bon, ça on sait que vous y penserez :-) ).",
      },
      {
        title: 'Comment contacter les organisateurs ?',
        description:
          "Vous pouvez nous contacter par e-mail (association.tanelorn@gmail.com), par message privé sur la page Facebook de Tanelorn ou même directement sur le discord du club (voir les boutons en haut à droite de cette page).",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="L'édition précédente en quelques chiffres (totalement vérifiés)"
    stats={[
      { title: 'De Bières', amount: '132L' },
      { title: 'Saucisses', amount: '284' },
      { title: 'Jeux', amount: '48' },
      { title: 'De Satisfaction', amount: '130%' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: "S'inscrire",
        href: grandsStrategesLink,
        target: '_blank',
        icon: 'tabler:user-plus',
      },
    ]}
  >
    <Fragment slot="title">
      Alors, convaincu ?
    </Fragment>
    <Fragment slot="subtitle">
      Et même si vous ne l'êtes pas, n'hésitez pas à nous dire pourquoi, promis on ne mord pas :-)
    </Fragment>
  </CallToAction>
</Layout>
